QWidget {
    background-color: rgb(37,37,37);
    color: rgb(231, 231, 231);
    border: none;
    font: 13px "Calibri";
}

#app-name {
    font-weight: bold;
    font-size: 20px;
}

#dev-name {
    font-weight: bold;
    font-size: 15px;
}

QPushButton {
    background-color:rgb(14,99,156);
    color: white;
    padding: 10px;
}

QPushButton:disabled {
    background-color:rgb(77,77,77);
}

QPushButton:hover{
    background-color:rgb(17,119,187);
}
